.flexEnd { align-self: flex-start; }

.justify{
    justify-content:  flex-end;
}
@media(min-width:600px){
    .fixed{
        position: fixed;
    }
.marginleft{
    margin-left: 190px;}
    
    .fixedForm{
        position: fixed; 
    }    
    .pad{
        padding-bottom: 60px;
    }
    #left{
        position: fixed;
    }
    .padTOP{
        padding-top: 100px;
        margin-left: 150px;
    }
}
@media(max-width:1029px){
    .responsiv{
        max-width:280px;
    }
}
html{
    background-color:#6600ff;}
.navbar
        {  
            border-bottom: black;
            border-bottom-style: initial;
        }

.button {border-radius: 20px;}

.button1{
    border-radius: 80%;
}

.color{
    color:#6600ff
}
.thick {
    font: caption;
    font-weight: 500;
    
  }
  .light{
    font: caption;
      font-weight: lighter;
      
  }